@{
    ViewData["Title"] = "Home Page";
}

    
    @* @ViewData["data1"] *@
    @* @ViewBag.data2 *@
    @* @TempData["data3"] *@
    @* @ViewBag.data1 *@
    @* <br /> *@
    @* @ViewBag.data2 *@
    @* <br /> *@
    @* @ViewBag.data3 *@
    @* <br /> *@
    @* @{ *@
    @*     foreach(var item in ViewBag.data4){ *@
    @*         <h2>@item</h2> *@
    @*     } *@
    @* } *@
    @* <br /> *@
    @* @{ *@
    @*     foreach(var item in ViewBag.data5) *@
    @*     { *@
    @*         <h2>@item</h2> *@
    @*     } *@
    @* } *@
    @* <br /> *@


@* @ViewData["data1"] *@
@* <br /> *@
@* @ViewData["data2"] *@
@* <br /> *@
@* @ViewData["data3"] *@
@* <br /> *@
@* @{ *@
@*     foreach(var item in (string[])ViewData["data4"]){ *@
@*         <h2>@item</h2> *@
@*     } *@
@* } *@
@* @{ *@
@*     foreach(var item in (List<string>)ViewData["data5"]){ *@
@*         <h2>@item</h2> *@
@*     } *@
@* } *@

